numpy
pandas
scikit-image
matplotlib
tqdm
opencv-python
shapely
scipy
Pillow
tifffile
natsort
alphashape
jupyter
ipykernel
anndata
scanpy
sphinx
nbsphinx
ipykernel
sphinx-rtd-theme
itables
openpyxml
minisom
squidpy
sphinx.ext.napoleon
